*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.boxed{
    width: 80%;
    margin: auto;
}

.flex{
    display: flex;
}

.testh{
    height: 30rem;
}

.tc-aligned{
    text-align: center;
}
.tr-aligned{
    text-align: right;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

.r-bg{
    background-color: red;
}
.g-bg{
    background-color: green;
}

/***** HEADER *****/

header{
    background-color: #ff6900;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.box80{
    justify-content: space-between;
    color: white;
    padding: 1rem;
}

.target{
    width: calc(100% / 3);
    align-items: center;
}
.target a{
    color: white;
    text-decoration: none;
    padding: 2px;
}

.boolean{
    width: calc(100% / 3);
    justify-content: center;
}
.boolean img{
    height: 2rem;
}


.icons{
    width: calc(100% / 3);
    height: 2rem;
    justify-content: end;
    align-items: center;
}
.icons i{
    padding: 4px;
}

/***** MAIN *****/

main{
    padding: 4rem;
}

.container{
    margin-top: 2rem;
    justify-content: space-between;
    gap: 1rem;
}

.box{
    width: calc(100% / 3);
}

figure>img{
    width: 100%;
}

.l-through{
    text-decoration: line-through;
}

figure.img-box:hover .hover-img{
    display: inline-block;
}

.hover-img{
    position: absolute;
    top: 0; left: 0;
    display: none;
}

.testo p{
    color: red;
}

.inside-elem{
    bottom: 4rem;
}

.inside-elem p{
    display: inline-block;
    color: white;
    padding: 3px;
    font-size: 14px;
}

.heart{
    top: 1rem;
    right: 0;
}
.heart p{
    font-size: 1.5rem;
    background-color: white;
    padding: 0px 5px;
}

.heart-hover{
    top: 1rem;
    right: 0;
}
.heart-hover p{
    font-size: 1.5rem;
    background-color: white;
    padding: 0px 5px;
    color: red;
    display: none;
}

.container-h:hover .heart-hover p{
    color: red;
    display: inline-block;
}

.container-h{
    top:2rem;
    right:0;
}


/**** FOOTER ****/

footer{
    background-color: black;
    margin-top: 2rem;
    padding: 1rem;
}

.left-box{
    width: 50%;
}

.left-box a{
    color: white;
    text-decoration: none;
    padding: 2px;
    font-size: 11px;
}

.right-box{
    width: 50%;    
}

.social-icons i{
    padding: 2px;
}